.img-container{
    margin:auto;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.profile-img {
    height: 100%;
    border-radius: 50%;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill-holder {
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
}

.skill-holder i {
    height: 100%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.skill-holder img {
    margin: auto;
    margin-bottom: 10px;
    height: 100%;
}
















.typed {
    font-size: 3rem;
}


.typed-cursor{
    font-size: 3rem;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}